
### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump
.git.bfg-report

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp



# td auto generated folders for imported assets
TDImportCache
Backup
QFH_Hapq_converter.[0-9]*.toe
CrashAutoSave.*.toe
TouchDesignerCrash.*.dmp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows


